@import url("https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&display=swap");

@import "tailwindcss";
@plugin "@tailwindcss/forms";

@theme {
    --font-sans: "Inter", "sans-serif";
    --radius-10: 10px;
}
